footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: teal;
}
footer ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
footer ul li a {
  color: white;
}
footer ul li a:hover {
  color: red;
}
footer ul li {
  list-style-type: none;
}
